@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$main-font: "Playfair Display", serif;

* {
    box-sizing: border-box;
}
.section1 {
    position: relative;
    height: 100vh;

    .main-page{
        .main-page-name {
            padding: 3rem 0.5rem 0 0.5rem;
            color: white;
            font-family: $main-font;
            h1 {
                font-weight: 400;
            }
        }

        .main-page-paragraph{
            padding: 1.5rem 0.5rem 0 0.5rem;
            color:white;
            font-family: $main-font;

            h3 {
                line-height: 1.5;
                font-size:1.3rem;
                font-weight: 100;
            }
        }

        .btn-group{
            display:flex;
            flex-direction:column;
            
            .main-page-button{
                font-family: $main-font;
                font-size:1.5rem;
                font-weight: 400;
                color:white;
                margin:1rem 0 1rem 0.5rem;
                background-color: transparent;
                border:solid white thin;
                width:10rem;
                height:3.5rem;
            }
        }
    }
}

.section1::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url("/src/other-image/desk-1081708_1920.jpg");
    // background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    //     url("/src/other-image/simpolo-2020169_1920.jpg");
    background-position: center bottom;
    filter: grayscale(100%);
}
