@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@-webkit-keyframes nav-menu-active {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
  }
}
@keyframes nav-menu-active {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

.of-hide {
  overflow-y: hidden;
}

header {
  position: relative;
  padding: 1rem 0.5rem 2rem 0;
  background-color: #fafafa;
  z-index: 100;
}

header .nav-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5.6rem;
}

header .nav-bar img {
  width: 260px;
  height: 36px;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

header .nav-bar .nav-icon {
  position: relative;
  height: 30px;
  -webkit-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
}

header .nav-bar .nav-icon span {
  background: #1d1d1b;
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  margin-bottom: 5px;
  -webkit-transition: all 0.5s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

header .nav-bar .nav-icon.open span:nth-child(1), header .nav-bar .nav-icon.open span:nth-child(3) {
  -webkit-transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
          transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
  margin: 0;
}

header .nav-bar .nav-icon.open span:nth-child(2) {
  height: 0;
  margin: 0;
}

header .nav-bar .nav-icon.open span:nth-child(3) {
  -webkit-transform: translate(0px, 9px) rotate(45deg) scalex(1.3);
          transform: translate(0px, 9px) rotate(45deg) scalex(1.3);
}

header .nav-bar .nav-list {
  display: none;
}

.nav-menu {
  z-index: 5;
  background-color: #fafafa;
  position: fixed;
  padding: 1rem 0;
  height: 100vh;
  width: 100vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.nav-menu .nav-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5.6rem;
}

.nav-menu .nav-bar img {
  width: 260px;
  height: 36px;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.nav-menu .nav-bar .nav-cross {
  position: relative;
  margin-bottom: 0.8rem;
}

.nav-menu .nav-bar .nav-cross .cross-container {
  position: absolute;
  -webkit-transform: translate(-100%, 30%);
          transform: translate(-100%, 30%);
  font-size: 2rem;
}

.nav-menu .nav-list {
  padding-top: 2rem;
}

.nav-menu .nav-list ul {
  margin: 0;
}

.nav-menu .nav-list ul li {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  list-style-type: none;
  color: black;
  padding: 1rem 0;
}

.nav-menu .nav-social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.nav-menu .nav-social-container .social-icon {
  font-size: 2.5rem;
  padding: 0 1rem;
}

.nav-menu .by {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.nav-menu .by h2 {
  font-family: "Playfair Display", serif;
  font-size: 0.85rem;
}

.menu-animate {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.section1 {
  position: relative;
  height: 100vh;
}

.section1 .main-page .main-page-name {
  padding: 3rem 0.5rem 0 0.5rem;
  color: white;
  font-family: "Playfair Display", serif;
}

.section1 .main-page .main-page-name h1 {
  font-weight: 400;
}

.section1 .main-page .main-page-paragraph {
  padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  color: white;
  font-family: "Playfair Display", serif;
}

.section1 .main-page .main-page-paragraph h3 {
  line-height: 1.5;
  font-size: 1.3rem;
  font-weight: 100;
}

.section1 .main-page .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 0;
}

.section1 .main-page .btn-group .main-page-button {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  margin: 1rem 0 1rem 0.5rem;
  background-color: transparent;
  border: solid white thin;
  width: 10rem;
  height: 3.5rem;
}

.section1::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url("/src/srcImages/desk-1081708_1920.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/src/srcImages/desk-1081708_1920.jpg");
  background-position: center bottom;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.section2 {
  background-color: #fafafa;
}

.section2 .about-page .about-me {
  position: relative;
  padding: 0 1.2rem;
  background-color: #fafafa;
}

.section2 .about-page .about-me .about-me-container {
  position: relative;
}

.section2 .about-page .about-me .about-me-container .about-me-photo-container {
  position: relative;
}

.section2 .about-page .about-me .about-me-container .about-me-photo-container .img-gradient-container {
  position: relative;
}

.section2 .about-page .about-me .about-me-container .about-me-photo-container .img-gradient-container img {
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.section2 .about-page .about-me .about-me-container .about-me-photo-container .img-gradient-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
  z-index: 1;
}

.section2 .about-page .about-me .about-me-container .about-me-photo-container .about-image-text {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  z-index: 2;
}

.section2 .about-page .about-me .about-me-container .about-me-photo-container .about-image-text h2 {
  color: white;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.section2 .about-page .about-me .about-me-container .about-me-paragraph-container {
  font-family: "Playfair Display", serif;
  color: black;
  width: 100%;
  padding: 3rem 0 0.2rem 1rem;
}

.section2 .about-page .about-me .about-me-container .about-me-paragraph-container .about-me-paragraph {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.3rem 1rem;
  border-left: 6px solid black;
  border-radius: 2px;
}

.section2 .about-page .about-me .about-me-container .about-me-paragraph-container .about-me-paragraph h2 {
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.section2 .about-page .about-me .about-me-container .about-me-paragraph-container .about-me-paragraph h3 {
  font-size: 1.3rem;
  line-height: 1.4;
}

.section2 .about-page .about-expertise {
  position: relative;
  padding: 4rem 1.2rem;
}

.section2 .about-page .about-expertise .about-expertise-container .about-expertise-photo-container {
  position: relative;
}

.section2 .about-page .about-expertise .about-expertise-container .about-expertise-photo-container .img-gradient-container {
  position: relative;
  padding-top: 100%;
}

.section2 .about-page .about-expertise .about-expertise-container .about-expertise-photo-container .img-gradient-container img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 0;
}

.section2 .about-page .about-expertise .about-expertise-container .about-expertise-photo-container .img-gradient-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
  z-index: 1;
}

.section2 .about-page .about-expertise .about-expertise-container .about-expertise-photo-container .about-expertise-text {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  z-index: 2;
}

.section2 .about-page .about-expertise .about-expertise-container .about-expertise-photo-container .about-expertise-text h2 {
  color: white;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.section2 .about-page .about-expertise .about-expertise-container .about-expertise-paragraph-container {
  font-family: "Playfair Display", serif;
  color: black;
  width: 100%;
  padding: 3rem 0 0.2rem 1rem;
  position: relative;
}

.section2 .about-page .about-expertise .about-expertise-container .about-expertise-paragraph-container .about-expertise-paragraph {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.3rem 1rem;
  border-left: 6px solid black;
  border-radius: 2px;
}

.section2 .about-page .about-expertise .about-expertise-container .about-expertise-paragraph-container .about-expertise-paragraph h3 {
  font-size: 1.3rem;
  line-height: 1.2;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

.section3 {
  min-height: 100vh;
  background-color: #fafafa;
}

.section3 .row-container {
  padding: 0.25rem;
}

.section3 .row-container .square {
  position: relative;
  padding: 0;
}

.section3 .row-container .square .content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.section3 .row-container .square .content img {
  height: 100%;
  width: 100%;
}

.section3 .row-container .square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.section4 .col-image {
  padding: 1.1rem;
  position: relative;
}

.section4 .col-image .img-container img {
  width: 100%;
}

.section4 .col-width {
  position: relative;
  padding: 0;
}

.section4 .col-width .project-description {
  font-family: "Playfair Display", serif;
  padding: 2rem 1rem;
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.section4 .col-width .project-description .description-wrap {
  display: table-cell;
  vertical-align: middle;
}

.section4 .col-width .project-description .bold-text {
  font-weight: bold;
}

.section4 .col-width .project-description h3 {
  font-weight: bold;
}

.section4 .col-width .project-description h4 {
  font-size: 1.1rem;
  line-height: 1.6;
}

.section4 .image-container {
  padding: 2rem 0;
}

.section4 .image-container .rest {
  position: relative;
  padding: 0;
}

.section4 .image-container .rest .img-rest {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.section4 .image-container .rest .img-rest img {
  width: 100%;
  height: 100%;
}

.section4 .rest:after {
  content: "";
  display: block;
  padding-bottom: 75%;
}

footer {
  color: white;
  text-align: center;
}

footer .footer-col-one {
  background-color: #565656;
  height: 200px;
  position: relative;
}

footer .footer-col-one .first-container {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0;
}

footer .footer-col-one .first-container .text h2 {
  font-weight: bold;
  font-size: 1.3rem;
}

footer .footer-col-one .first-container h2 {
  font-size: 1.3rem;
  font-family: "Playfair Display", serif;
  padding: 0.5rem 0;
}

footer .footer-col-two {
  background-color: #111111;
  height: 200px;
}

footer .footer-col-two .second-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

footer .footer-col-two .second-container .empty {
  height: 33%;
}

footer .footer-col-two .second-container .icon-container {
  height: 33%;
}

footer .footer-col-two .second-container .icon-container .icon {
  font-size: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-col-two .second-container .icon-container .icon div {
  padding: 0 1rem;
}

footer .footer-col-two .second-container .text {
  height: 33%;
  padding-top: 0.3rem;
}

footer .footer-col-two .second-container h2 {
  font-size: 0.85rem;
  font-family: "Playfair Display", serif;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  header {
    padding: 2.5rem 0.5rem 2rem 0;
  }
  header .nav-icon {
    display: none !important;
  }
  header .nav-list {
    display: block !important;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: 0;
  }
  header .nav-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  header .nav-list a {
    text-decoration: none;
  }
  header .nav-list li {
    display: inline;
    padding: 0 1rem;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
  }
  .section2 .about-me-paragraph-container {
    font-family: "Playfair Display", serif;
    color: black;
    width: 100%;
    padding: 3rem 0 0.2rem 1rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    left: 0;
  }
  .section2 .about-image-text {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    z-index: 2;
  }
  .section2 .about-image-text h2 {
    font-size: 2.5rem;
  }
  .section2 .about-expertise-paragraph {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    left: 2rem;
  }
  .section2 .about-expertise-text {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    z-index: 2;
  }
  .section2 .about-expertise-text h2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .section2 .about-image-text h2 {
    font-size: 3.75rem;
  }
  .section2 .about-expertise-text h2 {
    font-size: 3.75rem;
  }
}
/*# sourceMappingURL=App.css.map */